@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button.roundedBtn{
  border:1px solid  #ABC6F4;
  border-radius: 2rem;
  background-color: transparent;
  color:#ABC6F4;
  padding: 12px 30px;
  font-size: 14px;
}

button.roundedBtn:focus,

button.active{
  outline: none;
  background-color: #24509D;
  color: #fff;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  margin-left: 15px;
}

button.imgBtn {
  border-radius: 0;
  margin-right: 30px;
}

button.imgBtn img{
  display: inline;
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
